.bigger-text{
	font-size: 30px;
}
.super-big-text{
	font-size: 50px;
}
.align-items-center{
	align-items:center;
}

.klassement td {
  	color: black;
	padding: 5px;
	margin: 30px;
	text-align: center;
/*border-collapse: collapse;
*/ 	
border: 10px solid #17a2b8;
height: 40px;
width: 100px;

}

.bg-info{
	background-color: red;
}

table{
	width: 90%;
}

.teamNaam{
	width: 200px;
}




.birdie {
padding: 10px;	
    background-color:transparent;
    border: 2px solid #000;
    height:30px;
    width:30px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
}

.bogey {
	 background-color:transparent;
    border: 2px solid #000;
    height:30px;
    width:30px;
}



