.bigger-text{
	font-size: 30px;
}
.super-big-text{
	font-size: 50px;
}
.align-items-center{
	align-items:center;
}

.klassement td {
  	color: black;
	padding: 50;
	margin-bottom: 3;
	text-align: center;
//border-collapse: collapse;
 	
border: 2px solid green;
}

table{
	width: 100%;
}

.circle{
	
    background: #f00;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
