body,
html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width:100%;
}

.bg-info {
  padding: 0px;
  margin: 0px;
}
.container {
  /* Full height */
  height: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.ulPlace{
  position: absolute;
  border: 5px solid white;
  border-radius: 25px;
  background: rgba(255,255,255,0.4);
  padding:5px;
  width:75%;
  right: 20px;
  margin-top: 10px;
}




.teamName{
  letter-spacing: 0.25em;  
}

.splashCont{
  position: relative;
}

.splashBg {

/*overflow: hidden;*/

position: absolute;

z-index: 1;

height: 100%;

width: 100%;

background: url("../images/haenen10.jpg") no-repeat center center fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;

-webkit-filter: opacity(70%);

filter: opacity(70%);

margin: 0px;
}

.noScroll{
  overflow: hidden;
}

.onTop{
  width: 100%; 
  height: 100%; 
  position: absolute; 
  z-index:5; 
 padding-top: 20px;
 text-shadow: 1px 1px #eee;
}


.logo {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.loaderBg{
  position: fixed;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #17a2b8;
  top:0px;
}

.loaderImg{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: url("../images/haenen10.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* background-size: auto; */
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
  z-index: 2;
}

.loading{
    height: 10%;
    width: 100%;
    margin: 0px;
    position: absolute;
    z-index: 5;
    margin-top: 150px;
    color: #fff;
}

.loader {
  position: relative;
  overflow: hidden;
  /* height: 10%; */
  /* width: 10%; */
  /* margin: 0px; */
}


.app {
  /* Full height */
  height: 100%;
}


.align-items-center {
  align-items: center;
}

.bogey,
.birdie,
.eagle,
.double {
  background-color: transparent;
  border: 2px solid #000;
  height: 2rem;
  width: 2rem;
}

.eagle, .double
{
  border: 4px double ;
}

.birdie, .eagle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.vanlange {
  width: 100%;
  height: 100%;
  background-image: url("images/logo_VanLangeMode_zwart.png");
  background-repeat: none;
}



.check {
  font-size: 8vw;
  text-shadow: 1px 1px #fff;
}

.big-text {
  /* font-size: 20px; */
/*  text-shadow: 1px 1px #ffffff;
*/}

.shadow {

    text-shadow: 1px 1px #ffffff;

}

.checkContainer {
  /*   border-style: groove; */
  border-style: outset;
  border-style: groove;
  box-shadow: 5px 5px darkslategrey;
  border-color: silver;
  border-width: 9px;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  color: darkslategrey;
}

.loccTitle {
/*  position: fixed;
*/  z-index: 1;
text-align: center;
height: 100px;
background-color: rgb(42,185,208);
border-bottom: 2px solid;
padding-top: 20px;
/*  background-image: url("http://www.j-roen.nl/golf/images/lipouts.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 50px top;
  background-size: auto 100px;*/
  
}

.loccKlassement, .loccKlassement .results{
  margin-top: 100px;
} 
.loccKlassement .focus{
  margin-top: -100px;
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 4rem;
  }
}

#loImg{
  height: 100px;
  
}

.rowHight{
  vertical-align: bottom;
  height: 55px;
  padding: 20px;
}

.memberName{
  position: absolute;
  bottom:0;
  margin: 0 auto;
  width:50%;
  color: white;
  font-size: 9px;
  text-shadow: 1px 1px #000;

}

hr {
  background-color: white;
}

#saldo{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 25px;
  margin: 0 auto;
}

.cel {
  position: relative;

}

.red {
  border: red 1px double;
  background-color: red;
}

.ball{
  width: 100px;
  height: 100px;
  
}

.zoom {
  width:100%;
  MARGIN-LEFT: AUTO;
  Margin-right:auto;
  Margin-top: auto;
  margin-bottom:auto;
}

.hidden{
  display: none;
}

.p-25{
  padding: 25px;
}

.vw-1{
  font-size: 10vw;
}

.vw-2{
  font-size: 8vw;
}

.admin{
  color: #0c505a;
  font-size: 3vw;
  margin-bottom: 25px;
    
}